<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trashcollector">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Include only if your app benefits from precise location access. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrashCollector">
        <activity
            android:name=".main.officer.OfficerHomeActivity"
            android:exported="true" />
        <activity
            android:name=".main.officer.AssignDriverActivity"
            android:exported="true" />
        <activity
            android:name=".main.officer.AssignRequestActivity"
            android:exported="true" />
        <activity
            android:name=".main.officer.NewRequestActivity"
            android:exported="true" />
        <activity
            android:name=".main.SignupActivity"
            android:exported="true" />
        <activity
            android:name=".main.customer.CollectionDetail"
            android:exported="true" />
        <activity
            android:name=".main.customer.CompletedRequestActivity"
            android:exported="true" />
        <activity
            android:name=".main.driver.VehicleIssue"
            android:exported="true" />
        <activity
            android:name=".main.driver.DriverCollectionDetail"
            android:exported="true" />
        <activity
            android:name=".main.driver.MyRequest"
            android:exported="true" />
        <activity
            android:name=".main.driver.DriverHomeActivity"
            android:exported="true" />
        <activity
            android:name=".main.customer.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".main.customer.CustomerHomeActivity"
            android:exported="true" />
        <activity
            android:name=".main.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>